@import "characters.css";
@import "location.css";
@import "episodes.css";

* {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: web-font;
  src: url(/font/WubbaLubbaDubDub.otf);
}

body {
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 86px;
  font-weight: 600;
  font-family: web-font;
  padding: 24px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

section {
}

#Characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  padding-bottom: 20px;
}

.character {
  width: 300px;
  height: 600px;
  /* overflow: hidden; */
  /* text-align: center; */
  border-radius: 24px;
  padding: 16px;
  border: 4px solid rgba(0, 128, 0, 0.671);
  box-shadow: 5px 6px rgba(128, 128, 128, 0.178);
}

.character img {
  height: 225px;
  width: 100%;
  padding-bottom: 18px;
  margin-inline: auto;
  border-radius: 6px;
}

.character h3 {
  height: 82px;
  text-align: center;
  margin: auto;
}
