@import "characters.css";
@import "location.css";
@import "episode.css";
@import "navbar.css";

* {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: web-font;
  src: url(/font/WubbaLubbaDubDub.otf);
}

body {
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 86px;
  font-weight: 600;
  font-family: web-font;
  padding: 24px;
  width: fit-content;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

section {
}
